<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<div class="center-block" style="margin: 2% 10% 10%;">
    <div class="col-12" style="text-align: center;">
        <h1><strong>every number can be added up with one</strong></h1>
    </div>

    <div class="jumbotron text-left row">
        <div class="col-md-3">
            <img src="https://i.guim.co.uk/img/static/sys-images/Observer/Pix/pictures/2010/4/8/1270726208380/mathematicians-pythagoras-001.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdG8tZGVmYXVsdC5wbmc&enable=upscale&s=22a49fa4f46d5c0cdd876439cd8b0c22" style="height: 150px" >
        </div>
        <div class="col-md-9">
            <h3><strong>Why one is an important number?</strong> One is the first non-zero number, All possible numbers can be added by one.</h3>
        </div>
    </div>

    <div class="jumbotron text-left row">
        <div class="col-md-9">
            <h3><strong>History:</strong> According to Britannica All of the ancient Middle Eastern people saw the agency of the gods in every aspect of life and nature. Everything on earth was regarded as a reflex of its prototype in the divine or sacred sphere, such as in the biblical description of the creation of man “in the image of God”; God was viewed as the primary reality of the universe, and human beings were seen as the reflection of that reality. </h3>
        </div>
        <div class="col-md-3">
            <img src="https://cdn.britannica.com/s:690x388,c:crop/78/5878-050-4E07CE51/symbols.jpg" style="height: 150px" >
        </div>
    </div>


    {% endblock %}
</div>
